<%= link_to restaurant_path(airplane) do %>
  <div class="restaurant-card">
    <p>Restaurant: <%= restaurant.name%></p>
    <p>Address: <%= restaurant.address %> </p>
    <p>Phone Number: <%= restaurant.phone_number %> </p>
    <p>Category: <%=restaurant.category  %> </p>

  </div>
<% end %>

